# Node / Angular
ClientApp/node_modules/
ClientApp/.angular/
ClientApp/dist/
.vscode/

# .NET / C#
HRMAPI/bin/
HRMAPI/obj/
HRMAPI/Logs/
*.user
*.userosscache
*.suo
*.userprefs

# OS / Temp
.DS_Store
Thumbs.db
*.log
